___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [2]:
import pandas as pd
df = pd.read_csv('police_stop.csv')
df.head()

,stop_datetime,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
3,2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,NaN,NaN,0,M,1973.0,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [3]:
df.set_index('stop_datetime', inplace = True)
df.head()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,NaN,NaN,0,M,1973.0,32.0,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [4]:
df['violation'].nunique()

6

In [5]:
df['violation'].value_counts()

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [6]:
# df['violation'].value_counts(True)
df['violation'].value_counts(normalize = True)

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [7]:
df['driver_gender'].value_counts()

M    349446
F    131138
Name: driver_gender, dtype: int64

In [8]:
female = df[df["driver_gender"] == "F"]
male = df[df["driver_gender"] == "M"]

In [9]:
female["violation"].value_counts(True)

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

In [10]:
male["violation"].value_counts(True)

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [11]:
female_and_speeding = female[female["violation"]=="Speeding"]
male_and_speeding = male[male["violation"]=="Speeding"]

In [12]:
female_and_speeding["stop_outcome"].value_counts(True)

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [13]:
stop = female_and_speeding.stop_outcome
counts = stop.value_counts()
percent = stop.value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
pd.DataFrame({'counts': counts, '%': percent})

                  counts      %
Citation           82168  95.3%
Warning             3362   3.9%
Arrest Driver        456   0.5%
Arrest Passenger      89   0.1%
N/D                   78   0.1%
No Action             45   0.1%

In [14]:
male_and_speeding["stop_outcome"].value_counts(True)

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

In [15]:
stop = male_and_speeding.stop_outcome
counts = stop.value_counts()
percent = stop.value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
pd.DataFrame({'counts': counts, '%': percent})

                  counts      %
Citation          172432  94.5%
Warning             6587   3.6%
Arrest Driver       2878   1.6%
Arrest Passenger     231   0.1%
N/D                  216   0.1%
No Action            194   0.1%

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [16]:
df.search_conducted.dtypes

dtype('bool')

In [17]:
df['search_conducted'].value_counts()

False    462822
True      17762
Name: search_conducted, dtype: int64

In [18]:
search = df.search_conducted
counts = search.value_counts()
percent = search.value_counts(normalize = True).mul(100).round(1).astype(str) + '%'
pd.DataFrame({'counts': counts, '%': percent})

       counts      %
False  462822  96.3%
True    17762   3.7%

In [19]:
df["search_conducted"].mean()

0.036959199640437465

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [20]:
female["search_conducted"].mean()

0.018751239152648355

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [21]:
male["search_conducted"].mean()

0.04379217389811301

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [22]:
df.groupby('driver_gender')['search_conducted'].value_counts(True)

driver_gender  search_conducted
F              False               0.981249
               True                0.018751
M              False               0.956208
               True                0.043792
Name: search_conducted, dtype: float64

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [23]:
df.groupby("driver_gender")["violation"].value_counts(True)

driver_gender  violation
F              Speeding               0.657308
               Moving violation       0.136581
               Equipment              0.107055
               Registration/plates    0.043077
               Other                  0.028908
               Seat belt              0.027071
M              Speeding               0.522364
               Moving violation       0.206948
               Equipment              0.135102
               Other                  0.058450
               Registration/plates    0.040581
               Seat belt              0.036555
Name: violation, dtype: float64

In [7]:
df.groupby(['driver_gender', 'violation']).agg('search_conducted').value_counts(True)

driver_gender  violation            search_conducted
F              Equipment            False               0.959755
                                    True                0.040245
               Moving violation     False               0.961979
                                    True                0.038021
               Other                False               0.954102
                                    True                0.045898
               Registration/plates  False               0.945300
                                    True                0.054700
               Seat belt            False               0.982254
                                    True                0.017746
               Speeding             False               0.992262
                                    True                0.007738
M              Equipment            False               0.929084
                                    True                0.070916
               Moving violation     False               0.940844
                                    True                0.059156
               Other                False               0.953880
                                    True                0.046120
               Registration/plates  False               0.896411
                                    True                0.103589
               Seat belt            False               0.968295
                                    True                0.031705
               Speeding             False               0.973370
                                    True                0.026630
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [25]:
df.groupby("violation")["driver_gender"].value_counts(True)

violation            driver_gender
Equipment            M                0.770792
                     F                0.229208
Moving violation     M                0.801492
                     F                0.198508
Other                M                0.843451
                     F                0.156549
Registration/plates  M                0.715129
                     F                0.284871
Seat belt            M                0.782529
                     F                0.217471
Speeding             M                0.679247
                     F                0.320753
Name: driver_gender, dtype: float64

In [26]:
df.groupby(['violation', 'driver_gender']).agg('search_conducted').value_counts()

violation            driver_gender  search_conducted
Equipment            F              False                13474
                                    True                   565
                     M              False                43863
                                    True                  3348
Moving violation     F              False                17230
                                    True                   681
                     M              False                68039
                                    True                  4278
Other                F              False                 3617
                                    True                   174
                     M              False                19483
                                    True                   942
Registration/plates  F              False                 5340
                                    True                   309
                     M              False                12712
                                    True                  1469
Seat belt            F              False                 3487
                                    True                    63
                     M              False                12369
                                    True                   405
Speeding             F              False                85531
                                    True                   667
                     M              False               177677
                                    True                  4861
Name: search_conducted, dtype: int64

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [27]:
df['search_type'].value_counts()

Incident to Arrest                                          6998
Probable Cause                                              4989
Reasonable Suspicion                                        1141
Inventory                                                   1101
Protective Frisk                                             879
Incident to Arrest,Inventory                                 649
Incident to Arrest,Probable Cause                            552
Probable Cause,Reasonable Suspicion                          334
Probable Cause,Protective Frisk                              221
Incident to Arrest,Protective Frisk                          158
Incident to Arrest,Inventory,Probable Cause                  151
Inventory,Probable Cause                                     132
Protective Frisk,Reasonable Suspicion                         83
Incident to Arrest,Inventory,Protective Frisk                 77
Incident to Arrest,Probable Cause,Protective Frisk            74
Inventory,Protective Frisk                                    52
Incident to Arrest,Reasonable Suspicion                       49
Probable Cause,Protective Frisk,Reasonable Suspicion          31
Incident to Arrest,Probable Cause,Reasonable Suspicion        31
Inventory,Reasonable Suspicion                                17
Inventory,Probable Cause,Protective Frisk                     14
Incident to Arrest,Inventory,Reasonable Suspicion             12
Incident to Arrest,Protective Frisk,Reasonable Suspicion       8
Inventory,Probable Cause,Reasonable Suspicion                  8
Inventory,Protective Frisk,Reasonable Suspicion                1
Name: search_type, dtype: int64

In [28]:
df['frisk'] = (df['search_type'] == 'Protective Frisk')

In [29]:
df['frisk'].value_counts()

False    479705
True        879
Name: frisk, dtype: int64

In [30]:
df.frisk.dtypes

dtype('bool')

In [31]:
df['frisk'].value_counts().sum

<bound method Series.sum of False    479705
True        879
Name: frisk, dtype: int64>

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [32]:
df_frisk = df[df['search_conducted'] == 1]

In [33]:
df_frisk.shape

(17762, 25)

In [34]:
df_frisk['frisk'].value_counts()

False    16883
True       879
Name: frisk, dtype: int64

In [39]:
df_frisk.head()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-24 20:32:00,RI-2005-00010,2005-01-24,20:32,Zone K1,NaN,NaN,600,M,1987.0,18.0,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,False
2005-02-09 03:05:00,RI-2005-00011,2005-02-09,03:05,Zone X4,NaN,NaN,500,M,1976.0,29.0,...,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4,False
2005-08-28 01:00:00,RI-2005-00084,2005-08-28,01:00,Zone X1,NaN,NaN,0,M,1979.0,26.0,...,"Incident to Arrest,Terry Frisk","Incident to Arrest,Protective Frisk",False,Arrest Driver,True,16-30 Min,True,False,Zone X1,False
2005-09-15 02:20:00,RI-2005-00094,2005-09-15,02:20,Zone X4,NaN,NaN,500,M,1988.0,17.0,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone X4,False
2005-09-24 02:20:00,RI-2005-00115,2005-09-24,02:20,Zone K3,NaN,NaN,300,M,1987.0,18.0,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone K3,False

In [35]:
df_frisk['frisk'].mean()

0.04948767030739781

In [36]:
df_frisk.groupby(['driver_gender']).agg('frisk').mean()

driver_gender
F    0.042294
M    0.050644
Name: frisk, dtype: float64

In [37]:
df.to_csv('police_stop_gender.csv')